/* Base Styles */
@layer base {
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }
  }
  
  /* Component Styles */
  @layer components {
    .radar-container {
      /* background-color: #2e2e2e;
      border-radius: 50%;
      position: relative; */
			width: 300px;
  height: 300px;
  background-color: #2e2e2e;
  border-radius: 50%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border: 2px solid #4f4f4f;
    }

    .event-dot {
      /* background-color: yellow;
      position: absolute;
      border-radius: 50%; */
			background-color: yellow;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
    }
  }
  
  /* Utility Classes */
  @layer utilities {
    .text-center { text-align: center; }
    .mt-2 { margin-top: 2rem; }
  }